.entry
{
  overflow-y: hidden;
  overflow-x: hidden;
}

.play-button {
  position: absolute; /* Set the button to an absolute position */
  top: 90%; /* Position the button in the center of the player */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button content */
  /* background-color: white; Set the button background color */
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.5px );
  -webkit-backdrop-filter: blur( 20.5px );
  border-radius: 100px;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
  color: white; /* Set the button text color */
  border: 1px black; /* Remove the button border */
  /* border-radius: 100px; */
  padding: 30px 30px; /* Set the button padding */
  font-size: 26px; /* Set the button font size */
  cursor: pointer; /* Set the cursor to a pointer on hover */
}